/* Personnalisation des boutons si besoin */
.btn {
    font-size: 18px;
}

/* Styles personnalisés pour la barre de navigation */
.navbar-custom {
    background-color: #00ff08; /* Couleur par défaut, modifiable */
}

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link {
    color: #fff; /* Couleur du texte de la navbar */
}

.navbar-custom .nav-link:hover {
    color: #2f00ff; /* Couleur du texte au survol */
}

footer {
    margin-top: 30px;
    padding: 10px 0;
    background-color: #f8f9fa;
    text-align: center;
    color: #333;
}
